:root{
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --negro-mate: #333;
    --action-btn: #0022aa;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--negro-mate);
    
}

.h2{
    font-size: 24px;
}

/*HEADER*/

.main-header{
    background-color: var(--amarillo);
    padding: 20px;
}

.logo{
    max-width: 46%;
}

.search-section{
    position: relative;
    display: inline-block;
    max-width: 46%;
}

.search-input{
    height: 32px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    width: 100%;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 5px;
}

.search-button i{
    font-size: 16px;
    font-weight: 700;
}

.search-button i:hover{
    color: var(--amarillo);
}

.copy-header{
    font-weight: 400;
    text-align: center;
}
 
.hamburguer-button{
    background-color: var(--azul);
    color: var(--gris-claro);
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: var(--negro-mate);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.banner img{
    width: 100%;
}


/*Productos*/

main{
    margin: auto;
    background-color: var(--gris-claro);
}

main h2{
    padding: 32px;
    color: var(--negro-mate);
}

.section-product{
    background-color: var(--gris-claro);
}

.section-main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    width: 100%;
    margin: 5px;
    background-color: white;
}

.detail-product{
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
    text-align: left;
    background-color: white;
}

.detail-product span{
    display: inline-block;
}

.product-name{
    margin: 5px 0;
}

.product:hover{
    -webkit-box-shadow: 13px 22px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 22px 18px 0px rgba(0,0,0,0.75);
box-shadow: 13px 22px 18px 0px rgba(0,0,0,0.75);
}

.product img{
    width: 100%;
}

.price{
    width: 100%;
    margin: 10px 0;
}

.sale{
    font-size: 18px;
    width: 30%;
    font-weight: 700;
}

.discount{
    width: 70%;
    font-size: 16px;
    color: var(--verde);
}

 /*FOOTER*/

footer{
    padding: 20px;
    color: var(--gris-oscuro);
}

.section-footer{
    margin: 35px;
    text-align: center;
}

.section-footer i{
    color: var(--celeste);
    font-size: 2rem;
    margin-bottom: 10px;
}

.section-footer i:hover{
    color: var(--action-btn)
}

div.product-name p{
    display: none;
}

.one div:hover p, .two div:hover p, .three div:hover p, .four div:hover p,
.five div:hover p, .six div:hover p, .seven div:hover p, .eight div:hover p{
    display: flex;
}

.footer-brand p{
    font-size: 10px;
}

/*Delivery icon*/
.detail-product{
    position: relative;
}

.detail-product > .product-delivery-icon{
    display: block;
    font-size: 18px;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px var(--verde);
    color: var(--verde);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -20px;
}

.product-delivery-icon:hover{
    transform: rotate(-90deg) ;
}

/*FORMS*/

.page-body {
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.form-title{
    text-align: center;
    font-size: 48px;
    margin: 0 0 23px 0;   
}

main form{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;
}

main form label{
    font-size: 16px;
    color: var(--negro-mate);
    margin-top: 15px;
    font-weight: 700;
}

.input-style{
    height: 32px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.upload-style{
    margin: 5px 0;
}

.btn-submit, .btn-reset{
    height: 32px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-submit{
    background-color: var(--celeste);
    color: white;
    margin: 32px 0 8px 0;
}

input.btn-submit:hover{
    background-color: var(--action-btn);
    color: white;
    border: 1px solid var(--gris-claro);    
}

.btn-reset{
    background-color: var(--gris-oscuro);
    color: white;
}

input.btn-reset:hover{
    background-color: white;
    color: var(--celeste);
    border: 1px solid var(--gris-claro);
}

.radio-option{
    margin: 8px 0 0 0;
}

/*Navegacion Tablets*/
@media (min-width: 361px) {

    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        width: 30%;
        margin-left: 5px;
    }

    .search-section{
        width: 30%;
        margin-top: 2%;
    }

    .copy-header{
        width: 30%;
        margin-top: 2%;
    }

    .main-navbar a{
        font-size: 11px;
    }

    .hamburguer-button{
        display: none;
    }

    .main-navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-navbar ul{
        display: flex;
        max-width: 100%;
    }

    .main-navbar li{
        margin: 0 5px;
    }

    .product{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .product-name, .price{
        display: flex;
        justify-content: space-between;
    }
    
    .product{
        max-width: 46%;
    }

    .discount{
        width: 70%;
        font-size: 16px;
        text-align: center;
    }
}

/*Navegacion PC*/
@media (min-width: 768px){

    /*Header*/
    .logo{
        width: 25%;
    }

    .main-navbar a{
        font-size: 17px;
    }

    .copy-header{
        max-width: 30%;
        text-align: right;
    }

    .hamburguer-button{
        display: none;
    }

    .main-navbar{
        flex-direction: row;
        justify-content: space-between;
    }

    .main-navbar ul{
        display: flex;
    }

    .main-navbar li{
        margin: 0 5px;
    }

    /*Product*/

    .product{
        max-width: 20%;
    }

    .price{
        display: flex;
    }

    .discount{
        padding-left: 50px;
        width: 70%;
    }
    
    /*Register*/

    .form-titule{
        font-size: 56px;
    }

    main form{
        max-width: 520px;
    }

    .btn-submit, .btn-reset{
        height: 42px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .input-style{
        height: 42px;
        margin: 8px 0;
        border-radius: 8px;
    }

    .upload-style{
        margin: 5px 0;
    }

    .container-footer{
        display: flex;
        max-width: 1200px;
        margin: auto;
    }
}